body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #06861c;
    margin-bottom: 2%;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #06861c;
    font-size: 2rem;
    cursor: pointer;
}

.box.x {
    color: rgb(97, 9, 148);
}

.box.o {
    color: blue;
}

.game-board div:hover {
    background-color: #f0f0f0;
}